.intro-section {
  min-height: 800px;
  min-width: 100%;
  .intro {
    display: flex;
    img {
      height: 250px;
      width: 250px;
      margin: auto;
      min-height: 150px;
      min-width: 150px;
      border-radius: 50%;
      border: 2px solid #edf5e1;
    }
  }
}

.intro-text {
  text-align: center;
  width: 30%;
  min-width: 250px;
  p {
    font-size: 1.2rem;
  }
}
